# PostgreSQL (Supabase)
DATABASE_URL=
# JWT
JWT_SECRET=
JWT_EXPIRES_IN=7d

# Server
PORT=
CLIENT_URL=http://localhost:5173

# Bunny.net CDN
BUNNY_API_KEY=
BUNNY_STORAGE_ZONE=
BUNNY_HOSTNAME=
BUNNY_CDN_URL=

# Groq API (test auto-generation) - bepul: console.groq.com
GROQ_API_KEY=

# Telegram Bot (2FA verification)
TELEGRAM_BOT_TOKEN=
VITE_TELEGRAM_BOT_USERNAME=

# Daily.co (Video Meetings)
DAILY_API_KEY=

# App
NODE_ENV=development
